body {
    font-family: 'Times New Roman', Times, serif;
    background-color: red ;
    color: antiquewhite;
    text-align: center;
    margin: 20px;
    background-image: url("background.jpg");
    cursor: url("cursor.png") 16 16, auto;
}
h1 {
    background-color: aqua;

}

p, ul, ol, table {
    line-height: 1.5;
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
}

ul, ol {
    padding-left: 50px;
}

table {
    background-color: black;
    color: purple;
    width: 90%;
    margin: 0 auto 10px auto;
}

th, td {
    border: 1px solid black;
}

a {
    color: yellow;
}

a:hover {
    color:blue
}

img:hover {
    width: 400px
}